<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Fruits Show Page</h1>
    <h2>Fruit Name: <%= fruit.name %></h2>
    <h2>Fruit Color: <%= fruit.color %></h2>
    <% if(fruit.readyToEat === true) { %>
      <span> It is ready to eat</span>
    <% } else { %>
    <span> It is not ready to eat </span>
  <% } %>

  </body>
</html>
